<p style="color: green"><%= notice %></p>

<%= render @issue %>

<div>
  <%= link_to "Edit this issue", edit_project_issue_path(@issue.project, @issue) %> |
  <%= link_to "Back to issues", project_issues_path(@issue.project) %>

  <%= button_to "Destroy this issue", project_issue_path(@issue.project, @issue), method: :delete, data: { confirm: "Are you sure?" } %>
</div>

