<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Issue Tracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chartkick@5.0.1/dist/chartkick.min.js" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.js" %>

  </head>

  <body>
  <nav>
  <div class="navbar">
    <%= link_to 'Projects', projects_path %>
    <%= link_to 'Graph Report', reports_path %>
    <%= link_to 'Export', exports_path %>
    </div>
  </nav>

  <div class="container">
    <% if notice %>
      <p style="color: green;"><%= notice %></p>
    <% end %>

    <%= yield %>
  </div>
  
  </body>
</html>
